<!-- <nav class="navbar fixed-bottom navbar-expand navbar-dark bg-dark">
  <a class="navbar-brand" href="index.html#">Bottom navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="index.html#">Home
          <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="index.html#">Link</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="index.html#">Disabled</a>
      </li>
      <li class="nav-item dropup">
        <a class="nav-link dropdown-toggle"  href="" id="dropdown10" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false">Dropup</a>
        <div class="dropdown-menu" aria-labelledby="dropdown10">
          <a class="dropdown-item" href="index.html#">Action</a>
          <a class="dropdown-item" href="index.html#">Another action</a>
          <a class="dropdown-item" href="index.html#">Something else here</a>
        </div>
      </li>
    </ul>
  </div>
</nav> -->